<div class="content">
    <div class="form">
        <form action="" class="form-tag">
            <h3>Fill the new person data of the form</h3>
            <div>
                <label for="name">name: </label>
                <input type="text" placeholder="Ex. Jhon Seck">
            </div>
            <div>
                <label for="email">email: </label>
                <input type="text" placeholder="Ex. Jhon Seck">
            </div>
            <div>
                <label for="address">address: </label>
                <input type="text" placeholder="Ex. Jhon Seck">
            </div>
            <div>
                <label for="number">number: </label>
                <input type="text" placeholder="Ex. Jhon Seck">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div>

    </div>

</div>