.form{
    justify-content: center;
}
.form-tag h3{
    justify-content: center;
    text-align: center;
}
.form-tag div{
    text-align: center;
}
.form-tag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 200px;
}
.content{
    text-align: center;
    width: 100%;
}
button{
    width: 80px;
}
